.navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

li{
    list-style: none;
    margin-right: 20px;
}

ul{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
}

.react-link{
    text-decoration: none;
    color: #1351b4;
    font-weight: bold;
    font-size: x-large;
    text-transform: uppercase;
}

.logo{
    background-image: url('../../images/urn_icon.png');
    background-size: cover;
    width: 100px;
    height: 95px;
    margin-left: 50px;
}