.CandidateCard{
    display: flex;
    padding: 5px;
    border-color: rgb(0, 73, 209);
    background-color: rgb(0, 89, 255);
    border-style: solid;
    border-width: 0px 3px 3px 0px;
    border-radius: 5px;
    margin-top: 5px;
    width: 200px;
    color: aliceblue;
    cursor: pointer;
    justify-content: center;
}

.CandidateCard:hover{
    border-color: rgb(0, 64, 182);
    background-color: rgb(0, 73, 209);
}